@font-face {
font-family: "protos";
src: url("../fonts/Protos.otf");
}
body{
	overflow:hidden !important;
}
#load{
	height:100%;width:100%;position:absolute;top:0;right:0; background-color:#000; z-index:999;
}
#load img{
	animation: zoo 2s ease-in infinite;
	width:150px;
	padding-top:30%;
}
@keyframes zoo{
	0%{ transform: scale(1); }
	50%{ transform: scale(1.5); }
	100%{ transform: scale(1); }
}
#one{
	background:url(../assets/img/p6.JPG);
	background-position: center;
	background-size:cover;
}
#two{ height:100%;
	background-image:url(../assets/lantern1.jpg);
	background-size:cover;
	background-position:center;   }
#four{
	height:100%;
	background-image:url(../assets/lantern1.jpg);
	background-size:cover;
	background-position:center;  
}
.top-layer{
	height:100%;
	width:100%;
	padding-left:15%;
	padding-top:160px;
	background:rgba(0,0,0,0.5);
	position:absolute;top:0;
	z-index:99;
}
.logo-image{
	width:300px;
}
#home-subtitle{
	color:#fff;
	margin-top:60px;
  font-family:Kaushan Script;
  font-size:40px;
  letter-spacing:3px;
  line-height:60px;
}
#home-subtitle span{
	padding:3px;
	font-family:Kaushan Script;
	background-color:rgba(0,0,0,0.2);
}
#csoon{
	color:#fff;
	font-size:3em;
	width:100%;
	font-family:'Oswald';
	animation-duration: 3s;
	animation-delay:1s;
	text-decoration:underline overline;
}
#soonbox{
	position:absolute;
	width:100%;
	text-align:center;
	bottom:3em;
}
#head2{
	color:#fff;
	font-family:'Oswald';
	margin-left:50px; font-size:20px; padding-top:20px;text-align:center;
	text-decoration:underline overline;
}

#menu{
	width:60%;height: 655px;display:none;position:fixed;top:0;z-index:999;
}
.center{
	position: absolute;
  top: 50%;
  right:5px;
  padding:10px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*INTRO*/
#intro{
	text-align:center; font-family:Roboto ;color:#fff;font-size:18px; line-height:20px;
}
/*STARS SECTION*/
.star{		
		width:200px;
		display:inline-block;
}

@media only screen and (max-width: 600px) {
	.top-layer{
		width:100%;
		margin:0;
		padding-left:0;
		padding-top:100px;
	}
	.logo-image{
		width:100%;
	}
	#home-subtitle{
		width:100%;
		padding-top:30px;
		margin-top:20px;
	  font-size:26px;
	  text-align:center;
	  letter-spacing:3px;
	  line-height:40px;
	}
	#head2{ 
		width:100%;
		padding-top:0;
		text-align:center;
		position: absolute;
		bottom:6em;
		margin-left:0;
	}

	#intro{overflow-y:scroll;}
	/*STARS SEcTION*/
	.star{
		width:49%;
		display:inline-block;
	}
	.star img{
		height:auto;
	}
	.star2{
		width:80%;
		display:inline-block;
	}
}

@media only screen and (max-width: 370px) {
	.top-layer{
		width:100%;
		margin:0;
		padding-top:100px;
	}
	.logo-image{
		width:120px !important;
	}
	#home-subtitle{
		padding-top:10px;
		margin-top:0;
	  font-size:20px;
	  line-height:29px;
	}
	#head2{
		bottom:6em;
	}
	.text-logo {
    font-size: 2em;
    line-height: 15px;
  }
}