.devent {
  padding: 4px;
  margin: 0;
}
.devent img{
  padding-right:5%; padding-left:5%;
}
figure {
  margin: 0;
}
.devent figcaption {
  margin: 0;
  color: #fff;
  font-family: Lobster;
  font-size: 1.4em;
}
.contact-us-section{
  background-image:url(../assets/img/backdrop.JPG);
  background-size:100%;
  background-position:center; 
  color: white;
  font-family:Oswald;
}
.contact-info {
  padding-top:10%;
  padding:20px;
  text-align:center;
}

.contact-info h2 {
  margin-bottom: 10%;
}

.contact-info-group {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  width: auto;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.contact-information {
  width: auto;
  display: inline-block;
}
.credit{
  color:#fff;
  font-size:20px;
  line-height:30px;
  font-family: Kaushan Script;
  text-decoration:none;
}
.contact-info-group i {
  font-size: 2.5em;
}

.contact-info-group span {
  font-size: 1.5em;
}

.contact-button {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 3.5px;
  border: 2px solid white;
  height: 50px;
  margin-top: 50px;
  width: 30%;
  font-size: 1.5em;
}

.social-icons {
  margin-top:60px;
}

.social-icons h3 {
  color: white;
}

.social-icons a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 2.5em;
}

@media only screen and (max-width: 768px) {
  .col-xs-6 {
    max-width: 45% !important;
    display: inline-block;
    margin: 20px 2% 0 !important;
  }
  .day-events img {
    width: 100% !important;
  }
.contact-us-section{
   background-size:cover; 
  }
  #fun{
    margin-bottom:50px;
  }
  .contact-info {
    padding-top: 10%;
  }
  .contact-info h2 {
    margin-bottom: 50px;
  }
  .contact-info-group {
    margin-top: 20px;
  }
  .contact-icon .fa{
    font-size:22px;
  }
  .social-icons {
    margin-top: 40px;
  }
}
