@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
* {
  box-sizing: border-box;
}
.timeline-section {
  background-color: #43ace3 !important;
}
.box {
  /* background-image: url(https://s-media-cache-ak0.pinimg.com/736x/80/91/f9/8091f9dceb2ea55fa7b57bb7295e1824.jpg); */
  background-size: cover;
  width: 350px;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-1 {
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/80/91/f9/8091f9dceb2ea55fa7b57bb7295e1824.jpg);
}

.box-2 {
  background-image: url("../assets/stars/chinappa.jpg");
}
.box-3 {
  background-image: url("../assets/stars/nikhild.jpg");
}
.box-4 {
  background-image: url("../assets/stars/papon.jpg");
}

.box .but {
  cursor: pointer;
}
.box .mask {
  width: 100%;
  height: 100%;
  background-color: #004d99;
  opacity: 0.5;
}
/* .box .top {
  position: absolute;
  top: 0;
  color: white;
  font-size: 1.3em;
  width: 100%;
  height: 20%;
  padding: 15px;
} */
.box .top .menu {
  float: left;
}
.box .top .search {
  float: right;
}
.box .time {
  position: absolute;
  top: 0%;
  color: white;
  line-height: 30px;
  font-family: "Lato";
  width: 50%;
  padding: 15px;
  height: 100px;
  float: left;
}
.box .time #date {
  font-size: 2.5em;
}
.box .time #fulldate {
  font-size: 1.5em;
}

.box .middle {
  position: absolute;
  color: white;
  top: 15%;
  width: 100%;
}
.box .middle #hi {
  font-size: 1.5em;
  margin-left: 15px;
}
.box .middle .timeline {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.box .middle .timeline ul {
  list-style: none;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0;
}
.box .middle .timeline ul li {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  height: 65px;
}
.box .middle .timeline ul li .hour {
  float: left;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.box .middle .timeline ul li .hour #sub {
  font-size: 0.5em;
}
.box .middle .timeline ul li .work {
  float: right;
  width: 80%;
  height: auto;
  font-size: 1.2em;
  font-family: "Raleway";
  border-bottom: 1px solid white;
}
.box .middle .timeline ul li .work #sub {
  font-size: 0.8em;
}
.box .bottom {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box .bottom button {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5em;
}
.box .bottom #done {
  color: white;
  font-size: 1.1em;
  background-color: Lime;
}
.box .bottom #done:hover {
  background-color: #0c0;
}
.box .bottom #edit {
  color: white;
  font-size: 1.5em;
  background-color: Red;
}
.box .bottom #edit:hover {
  background-color: #c00;
}
.box .bottom #plus {
  color: white;
  font-size: 1.5em;
  background-color: Red;
}
.box .bottom #plus:hover {
  background-color: #4d004d;
}

/* Fading animation */
.fade-effect {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.mySlides {
  display: none;
}

.day-div {
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .box {
    width: 100%;
    height: 100%;
  }
  .box .middle {
    top: 20% !important;
  }
  .box .middle #hi {
    font-size: 2em;
  }
  .box .middle .timeline ul li .work {
    font-size: 1.9em;
  }
  .box .middle .timeline ul li .work #sub {
    font-size: 0.7em;
  }
}
