@font-face {
	font-family: "protos";
	src: url("../fonts/Protos.otf");
}
html{ padding:0;margin:0; }

.overlay{
		background-color:rgba(0,0,0,0.86);
		height:100%;padding-bottom:50px;
		width:100%;color:#fff;
		font-family:Oswald
	}
#title{
	padding-top:23px;
	text-align:center;
	width:100%
	border:1px solid black;
	font-size:30px;
	font-family:protos;
	color:#fff;
}
#title a{ color:#fff	; }
#clg{
	font-size:16px;
	font-family:Oswald
	}
.form-control{background:rgba(0,0,0,0.4); color:white;
	border:none; outline:none; border-bottom:1px solid #fff;
	border-radius: 0;
	width:100%;}
	#naach span{ padding-left:20px; }
.col-md-5{
	margin-bottom:20px; 
}
#naach{ border:1px dashed #fff; padding:10px;}
#load{
	display:none;
	width:100%;height:200%;position:absolute;top:0;background:rgba(0,0,0,0.9);z-index:999;
}
#load h2{color:#fff;position:absolute;bottom:400px; font-family:Oswald;}
@media only screen and (max-width: 700px) {
	.form-control{width:90%}
	.overlay{padding-top:15px;}
	.col-md-5{ margin-top:10px;margin-right:0; }
}